body{
    height:100vh;
    background:linear-gradient(120deg,#020617,#064e3b);
    display:flex;
    justify-content:center;
    align-items:center;
    font-family:Poppins;
}

.card{
    width:350px;
    padding:28px;
    background:#020617;
    color:white;
    border-radius:14px;
    text-align:center;
}

input,button{
    width:100%;
    padding:12px;
    margin-top:12px;
}

button{
    background:#22c55e;
    border:none;
    border-radius:30px;
    font-weight:600;
}

.msg{
    color:#bbf7d0;
}
